:host ::ng-deep {
    .custom-font {
        font-family: "Century Gothic", Arial, sans-serif;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        box-shadow: none;
        border-color: #E94925;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: #E94925;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:focus {
        border-color: #E94925;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
        border-color:  #E94925;
        background:  #E94925;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: #E94925;
        background:  #E94925;
        color: white;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:focus {
        border-color: #E94925;
        background: #E94925;
        color: white;
    }
}

.details-container {
    border-radius: 11px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;

    @media only screen and (max-width: 961px) {
        .details-container {
            width: 100vw;
        }
    }
}

a {
    text-decoration: none;
}

.anchor-search, .item-chip {
    background-color: #f45954;
}

.anchor-search:hover {
    background-color: #E94925;
}

h2 {
    color: #E94925;
}

.anchor-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(207, 207, 207);
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    width: fit-content;

    &:hover {
        background-color: rgb(237, 237, 237);
    }
}

@media only screen and (max-width: 575px) {
    .details-container {
        margin: .5rem;
    }
}
  