<div class="details-container bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0">
    <h2 class="m-0">Detalles de {{ content }}</h2>

    <div>
        <h3>Objetivo</h3>
        <p>Aprender los comandos básicos para desenvolverse con la línea de comandos.</p>
    </div>

    <div>
        <h3>Conocimientos clave</h3>
        <div>
            <ul>
                <li>Que es la terminal?</li>
                <li>Comandos básicos de navegación</li>
                <li>Creación, visión y eliminación de ficheros y carpetas</li>
                <li>Búsquedas</li>
                <li>Concepto de entrada y salida</li>
                <li>Encadenar comandos</li>
                <li>Obtener ayuda</li>
            </ul>
        </div>
    </div>

    <div class="flex flex-column justify-content-center align-items-start text-center">
        <p class="mr-1 text-lg">Lectura inicial sugerida:</p>
        <a href="https://es.wikibooks.org/wiki/Introducci%C3%B3n_a_Linux/B%C3%BAsqueda_y_consulta_de_documentaci%C3%B3n" target="_blank" class="anchor-search text-white p-2 border-round-md">Búsqueda y Consulta de Documentación</a>
    </div>

    <div>
        <h3>Metodología</h3>
        <p>Aprender a usar los comandos de la lista de autoevaluacion.</p>
    </div>

    <div>
        <h3>Recursos</h3>
        <div class="flex flex flex-row flex-wrap list-none">
            <a href="https://cmdchallenge.com/" target="_blank" class="anchor-one m-2 font-medium text-center">Command Line Challenge</a>
            <a href="http://linuxcommand.org/lc3_learning_the_shell.php" target="_blank" class="anchor-one m-2 font-medium text-center">Learning the shell</a>
            <a href="http://linuxcommand.org/lc3_writing_shell_scripts.php" target="_blank" class="anchor-one m-2 font-medium text-center">Writing shell scripts</a>
            <a href="https://github.com/veltman/clmystery" target="_blank" class="anchor-one m-2 font-medium text-center">Command line Mystery</a>
            <a href="https://fortinux.gitbooks.io/humble_tips/content/usando_la_linea_de_comandos/" target="_blank" class="anchor-one m-2 font-medium text-center">Línea de comandos en castellano</a>
        </div>
    </div>

    <div>
        <h3>CMD - Comand Line</h3>
        <p class="custom-font">THE BASICS</p>
        <div>
            <ul class="flex flex-row flex-wrap list-none p-0 w-full m-0">
                <li class="">
                    <a href="https://cmdchallenge.com/#/hello_world" target="_blank" class="anchor-one m-2 font-medium text-center">Hello World</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/current_working_directory" target="_blank" class="anchor-one m-2 font-medium text-center">Current Working Directory</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/list_files" target="_blank" class="anchor-one m-2 font-medium text-center">List Files</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/print_file_contents" target="_blank" class="anchor-one m-2 font-medium text-center">Print File Contents</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/last_lines" target="_blank" class="anchor-one m-2 font-medium text-center">Last Lines</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/create_file" target="_blank" class="anchor-one m-2 font-medium text-center">Create File</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/create_directory" target="_blank" class="anchor-one m-2 font-medium text-center">Create Directory</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/copy_file"target="_blank" class="anchor-one m-2 font-medium text-center">Copy File</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/move_file" target="_blank" class="anchor-one m-2 font-medium text-center">Move File</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/create_symlink"target="_blank" class="anchor-one m-2 font-medium text-center">Create Symlink</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/delete_files" target="_blank" class="anchor-one m-2 font-medium text-center">Delete Files</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/remove_files_with_extension" target="_blank" class="anchor-one m-2 font-medium text-center">Remove Files with Extension</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/find_string_in_a_file" target="_blank" class="anchor-one m-2 font-medium text-center">Find String in File</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/search_for_files_containing_string" target="_blank" class="anchor-one m-2 font-medium text-center">Search for Files Containing String</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/search_for_files_by_extension" target="_blank" class="anchor-one m-2 font-medium text-center">Search for Files by Extension</a>
                </li>
                <li class="">
                    <a href="https://cmdchallenge.com/#/search_for_string_in_files_recursive" target="_blank" class="anchor-one m-2 font-medium text-center">Search for String in Files Recursive</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Autoevaluación</h3>
        <ul class="flex flex-row list-none flex-wrap p-0 w-full">
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="cd" class="item-chip text-white p-2 border-round-md">cd</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="ls" class="item-chip text-white p-2 border-round-md">ls</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="pwd" class="item-chip text-white p-2 border-round-md">pwd</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="touch" class="item-chip text-white p-2 border-round-md">touch</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="grep" class="item-chip text-white p-2 border-round-md">grep</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="more / less / cat" class="item-chip text-white p-2 border-round-md">more / less / cat</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="rm" class="item-chip text-white p-2 border-round-md">rm</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="rmdir" class="item-chip text-white p-2 border-round-md">rmdir</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="mkdir" class="item-chip text-white p-2 border-round-md">mkdir</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="tail" class="item-chip text-white p-2 border-round-md">tail</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="mv" class="item-chip text-white p-2 border-round-md">mv</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="&lt;" class="item-chip text-white p-2 border-round-md">&lt;</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="&gt;" class="item-chip text-white p-2 border-round-md">&gt;</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="man" class="item-chip text-white p-2 border-round-md">man</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="echo" class="item-chip text-white p-2 border-round-md">echo</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="|" class="item-chip text-white p-2 border-round-md">|</label>
                </div>
            </li>
        </ul>
    </div>
</div>