<div class="details-container h-full bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0 min-h-full">
    <h2 class="m-0">Detalles de Katas</h2>

    <div>
        <h3>Objetivo</h3>
        <div>
            <ul class="items-container">
                <li class="item mb-4 line-height-4">Subid vuestras implementaciones en este repositorio: <a href="https://gitlab.com/devscola/katasrunners" target="_blank" class="anchor-search text-white p-2 border-round-md">Katas Runners</a></li>
            </ul>
        </div>
    </div>


    <!-- Aquí añadir enlaces correctamente -->
    <div>
        <h3>Katas</h3>
        <div class="flex flex-row align-items-center justify-content-start">
            <ul class="p-0 flex flex-row flex-wrap list-none w-full m-0">
                <li><a href="" target="_blank" class="anchor-one m-2 font-medium">FizzBuzz Kata</a></li>
                <li><a href="" target="_blank" class="anchor-one m-2 font-medium">String Calculator Kata</a></li>
                <li><a href="" target="_blank" class="anchor-one m-2 font-medium">Mars Rover</a></li>
                <li><a href="" target="_blank" class="anchor-one m-2 font-medium">Game of Life</a></li>
                <li><a href="" target="_blank" class="anchor-one m-2 font-medium">Poker Hands</a></li>
            </ul>
        </div>
    </div>
</div>
