<div class="main flex flex-column min-h-screen">
    <div class="header-container m-4 mb-0">
        <div class="header-box w-full flex flex-row justify-content-between align-items-center">
            <h1 class="xl:text-5xl lg:text-5xl md:text-5xl text-white font-bold">Iniciación a la Programación</h1>
            <a href="https://devscola.org/" target="_blank" class="logo-anchor">
                <img src="assets/Logotipo500.png" class="logo" alt="Logo" style="max-width: 90px;">
            </a>
        </div>
    
        <div class="card flex justify-content-center">
            <p-sidebar [(visible)]="sidebarVisible">
                <ng-template pTemplate="header" class="font-bold">Iniciación a la Programación</ng-template>
                <ng-template pTemplate="content">
                    <div class="card flex justify-content-center">
                        <p-menu [model]="items" class="w-full"></p-menu>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer"></ng-template>
            </p-sidebar>
            <p-button class="sidebar-button" (click)="openSidebar()" icon="pi pi-ellipsis-v"></p-button>
        </div>
    </div>
    
    <div class="main-content-container flex flex-row h-full xl:flex lg:flex md:flex flex-row w-full">
        <nav class="sidebar-desktop m-4 w-3">
            <ul class="w-full list-none p-0 ml-3 mr-3 mt-1 mb-1">
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/command-line" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>Command Line</a></li>
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/git" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>Git</a></li>
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/javascript" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>JavaScript</a></li>
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/python" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>Python</a></li>
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/ruby" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>Ruby</a></li>
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/ejercicios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>Ejercicios Básicos de Programación</a></li>
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/katas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>Katas</a></li>
              <li class="menu-item"><a class="item-anchor w-full flex align-items-center justify-content-start" routerLink="/dashboard/html-css" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrent="page"><i class="pi pi-bolt mr-2"></i>HTML y CSS Introductorios</a></li>
            </ul>
        </nav>
    
        <div class="router-outlet-container xl:w-9 lg:w-9 md:w-full sm:w-full flex-grow-1 h-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

