:host ::ng-deep {
    .p-button.p-button-icon-only {
        border-radius: 50%;
        background: transparent;
        color: white;
        border-color: white;
    }

    .p-menu {
        border-radius: 11px;
        width: 100%;
        padding: 0;
        border-color: transparent;
    }

    .p-menu .p-menuitem {
        border-bottom: 1px solid rgb(47, 47, 47);
        padding-top: 5px;
        padding-bottom: 5px;
        box-sizing: border-box;
        width: 90%;
        margin: auto;
    }

    .p-menu .p-menuitem:focus:hover {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
    }

    .p-menu .p-menuitem:last-child {
        border-bottom: none;
    } 
    
    .p-menu .p-menuitem-link {
        color: #495057;
        border-radius: 0;
        transition: box-shadow 0.2s;
        -webkit-user-select: none;
        user-select: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .p-menu .p-menuitem-text {
        line-height: 1.21;
    }

    .p-menu .p-menuitem-link:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
        color: white;
    }

    .p-menu .p-menuitem-link:not(.p-disabled):hover {
        background: #e7e7e7;
        border-radius: 7px;
    }

    .p-menu .p-menuitem-link:not(.p-disabled):focus {
        background: #e7e7e7;
        color: white;
        border-radius: 7px;
        margin: 0;
    }

    .p-menu .p-menuitem-link:not(.p-disabled):focus .p-menuitem-text {
        color: #E94925;
    }

    .p-menu .p-menuitem-link:not(.p-disabled):focus .p-menuitem-icon {
        color: #E94925;
    }

    .p-sidebar-header {
        font-weight: 800;
    }

    @media only screen and (max-width: 990px) {
        .p-sidebar.p-sidebar-active.p-sidebar-left {
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
        }
    }

    @media only screen and (max-width: 575px) {
        .p-sidebar.p-sidebar-active.p-sidebar-left {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.menu-item {
    border-bottom: 1px solid rgb(47, 47, 47);
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin: auto;
}

a { 
    text-decoration: none;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    color: #495057;
    word-wrap: break-word;
    word-break: break-word;
    white-space: break-spaces;
}

.item-anchor:hover {
    margin: 0 auto;
    background: #e7e7e7;
    border-radius: 7px;
}

li:last-child {
    border-bottom: none;
}

.active {
    color: #E94925;
    background: #e7e7e7;
    border-radius: 7px;
    margin: 0;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: break-spaces;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}

.sidebar-desktop {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-line;
    background-color: white;
    height: fit-content;
    border-radius: 11px;
    width: 100%;
    padding: 0;
}

@media only screen and (max-width: 424px) {
    h1 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 425px) {
    .logo {
        width: 70px;
    }

    .logo-anchor {
        top: 4px;
        position: relative;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
        width: 60px;
    }

    .logo-anchor {
        top: 4px;
        position: relative;
    }
}

@media only screen and (max-width: 990px) {
    .sidebar-desktop {
        display: none;
    }
    
    .sidebar-button {
        display: flex;
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 991px) {
    .sidebar-desktop {
        display: flex;
    }

    .sidebar-button {
        display: none;
    }

    h1 {
        margin-left: 0;
    }
}