<div class="details-container h-full bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0 min-h-full">
    <h2 class="m-0">Detalles de Python</h2>

    <div>
        <h3>Objetivo</h3>
        <p>Conocer la sintaxis y las peculiaridades del lenguaje de Python, mediante las koans de Python 3.</p>
    </div>

    <div>
        <h3>Conocimientos clave</h3>
        <div>
            <ul class="items-container">
                <li class="item mb-4 line-height-4">Introducción al lenguaje <a href="https://github.com/gregmalcolm/python_koans/" target="_blank" class="anchor-search text-white p-2 border-round-md">Python Koans</a></li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Recursos adicionales:</h3>
        <div class="flex flex-row align-items-center justify-content-start">
            <ul class="p-0 flex flex-row flex-wrap list-none w-full m-0">
                <li><a href="https://docs.python.org/3/reference/index.html" target="_blank" class="anchor-one m-2 font-medium">Referencia del Lenguaje</a></li>
                <li><a href="https://drive.google.com/file/d/12_1yUhaGeoH7wLGqrHiSx987FMdqM_Mv/view" target="_blank" class="anchor-one m-2 font-medium">Apuntes a Mano</a></li>
                <li><a href="https://data-flair.training/blogs/python-tutorials-home/" target="_blank" class="anchor-one m-2 font-medium">Learn Python from Scratch</a></li>
            </ul>
        </div>
    </div>
</div>

