<div class="details-container h-full bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0 min-h-full">
    <h2 class="m-0">Detalles de Git</h2>

    <div>
        <h3>Objetivo</h3>
        <p>Aprender a usar los comandos de la lista de autoevaluacion.</p>
    </div>

    <div>
        <h3>Conocimientos clave</h3>
        <div>
            <ul class="items-container">
                <li class="item mb-4 line-height-4">Hazte una cuenta en <a href="https://about.gitlab.com/" target="_blank" class="anchor-search text-white p-2 border-round-md">GitLab</a></li>
                <li class="item mb-4 line-height-4">Aprende los comandos básicos de git con <a href="https://gitimmersion.com/" target="_blank" class="anchor-search text-white p-2 border-round-md">Git Immersion</a></li>
                <li class="item mb-4 line-height-4">Repasa los conceptos con <a href="https://rogerdudler.github.io/git-guide/index.es.html" target="_blank" class="anchor-search text-white p-2 border-round-md">La guía sencilla</a></li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Materiales adicionales</h3>
        <div>
            <ul class="flex flex-row flex-wrap list-none p-0 w-full">
                <li class="">
                    <a href="https://gitexplorer.com/" target="_blank" class="anchor-one m-2 font-medium">Git Explorer</a>
                </li>
                <li class="">
                    <a href="https://www.atlassian.com/git/tutorials" target="_blank" class="anchor-one m-2 font-medium">Atlassian Git Tutorials</a>
                </li>
                <li class="">
                    <a href="https://www.codecademy.com/learn/learn-git" target="_blank" class="anchor-one m-2 font-medium">Codecademy</a>
                </li>
                <li class="">
                    <a href="https://learngitbranching.js.org/?locale=es_ES" target="_blank" class="anchor-one m-2 font-medium">Git Branching</a>
                </li>
                <li class="">
                    <a href="https://git-scm.com/book/en/v2" target="_blank" class="anchor-one m-2 font-medium">Pro Git</a>
                </li>
                <li class="">
                    <a href="https://www.learnenough.com/git-tutorial" target="_blank" class="anchor-one m-2 font-medium">Learn Enough Git</a>
                </li>
                <li class="">
                    <a href="https://docs.google.com/presentation/d/1IQCRPHEIX-qKo7QFxsD3V62yhyGA9_5YsYXFOiBpgkk/edit#slide=id.g4d6b1121f4_0_738" target="_blank" class="anchor-one m-2 font-medium">Git – Concepts and Workflows</a>
                </li>
                <li class="">
                    <a href="https://codigofacilito.com/videos/curso_git_introduccion_a_git"target="_blank" class="anchor-one m-2 font-medium">Código Facilito</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Autoevaluación</h3>
        <ul class="flex flex-row flex-wrap list-none p-0 w-full m-0">
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git init" class="item-chip text-white p-2 border-round-md">git init</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git clone" class="item-chip text-white p-2 border-round-md">git clone</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git status" class="item-chip text-white p-2 border-round-md">git status</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git log" class="item-chip text-white p-2 border-round-md">git log</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git add" class="item-chip text-white p-2 border-round-md">git add</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git commit" class="item-chip text-white p-2 border-round-md">git commit</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git push" class="item-chip text-white p-2 border-round-md">git push</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git pull" class="item-chip text-white p-2 border-round-md">git pull</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git merge" class="item-chip text-white p-2 border-round-md">git merge</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="git checkout" class="item-chip text-white p-2 border-round-md">git checkout</label>
                </div>
            </li>
            <li class="m-2 font-medium text-lg">
                <div class="flex align-items-center gap-1">
                    <label for="resolucion de conflictos" class="item-chip text-white p-2 border-round-md">resolución de conflictos</label>
                </div>
            </li>
        </ul>
    </div>
</div>
