<div class="details-container h-full bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0 min-h-full">
    <h2 class="m-0">Detalles de HTML y CSS Introductorios</h2>

    <div>
        <h3>Proyecto</h3>
        <p>Crear un formulario de contacto para una web.</p>
    </div>

    <div>
        <h3>Objetivo</h3>
        <p>Conocer las estructuras del lenguaje. Construir el primer esqueleto de página web.</p>
    </div>

    <div>
        <h3>Material</h3>
        <div class="flex flex-row align-items-center justify-content-start">
            <ul class="p-0 flex flex-row flex-wrap list-none w-full m-0">
                <li><a href="https://www.youtube.com/watch?v=cqMfPS8jPys&list=PLhSj3UTs2_yVHt2DgHky_MzzRC58UHE4z" target="_blank" class="anchor-one m-2 font-medium">HTML desde Cero</a></li>
                <li><a href="https://www.youtube.com/watch?v=24gNhTcy6pw&list=PLhSj3UTs2_yU0fGoS1bjpHqky4kCEmTbR" target="_blank" class="anchor-one m-2 font-medium">CSS desde Cero</a></li>
                <li><a href="https://learn.shayhowe.com/html-css/" target="_blank" class="anchor-one m-2 font-medium">Learn to Code</a></li>
                <li><a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" class="anchor-one m-2 font-medium">MDN HTML</a></li>
                <li><a href="https://webplatform.github.io/" target="_blank" class="anchor-one m-2 font-medium">Web Platform</a></li>
                <li><a href="https://www.csszengarden.com/" target="_blank" class="anchor-one m-2 font-medium">CSS Zen Garden</a></li>
            </ul>
        </div>
    </div>
</div>