<div class="details-container h-full bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0 min-h-full">
    <h2 class="m-0">Detalles de Ruby</h2>

    <div>
        <h3>Objetivo</h3>
        <p>Conocer las estructuras del lenguaje. Instalar el entorno para programar en Ruby. Es conveniente repasar el lenguaje Ruby antes de iniciar las Ruby Koans.</p>
    </div>

    <div>
        <h3>Conocimientos clave</h3>
        <div>
            <ul class="items-container">
                <li class="item mb-4 line-height-4">Hacer las Koans <a href="https://github.com/devscola/ruby_koans" target="_blank" class="anchor-search text-white p-2 border-round-md">Ruby Koans</a></li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Recursos adicionales:</h3>
        <div class="flex flex-row align-items-center justify-content-start">
            <ul class="p-0 flex flex-row flex-wrap list-none w-full m-0">
                <li><a href="https://www.ruby-lang.org/es/documentation/" target="_blank" class="anchor-one m-2 font-medium">Ruby Docs</a></li>
                <li><a href="http://rubytutorial.wikidot.com/" target="_blank" class="anchor-one m-2 font-medium">Ruby Tutorial</a></li>
                <li><a href="https://www.tutorialspoint.com/ruby/index.htm" target="_blank" class="anchor-one m-2 font-medium">Learn Ruby</a></li>
                <li><a href="https://learnrubythehardway.org/book/" target="_blank" class="anchor-one m-2 font-medium">Learn Ruby Hard Way</a></li>
                <li><a href="https://trello.com/b/MxfKGf5I/devscola-tracks-y-modulos" target="_blank" class="anchor-one m-2 font-medium">Katas</a></li>
                <li><a href="https://trello.com/b/MxfKGf5I/devscola-tracks-y-modulos" target="_blank" class="anchor-one m-2 font-medium">Devscola</a></li>
            </ul>
        </div>
    </div>
</div>