<div class="details-container h-full bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0 min-h-full">
    <h2 class="m-0">Detalles de Ejercicios Básicos</h2>

    <div>
        <h3>Objetivo</h3>
        <div>
            <ul class="items-container">
                <li class="item mb-3 line-height-4">Clonarse el repositorio</li>
                <li class="item mb-3 line-height-4">Realizar los ejercicios en local</li>
            </ul>
        </div>
        <p>Puedes elegir el lenguaje que quieras entre los que hay en el repositorio.</p>
    </div>

    <div>
        <h3>Ejercicios</h3>
        <div class="flex flex-row align-items-center justify-content-start">
            <ul class="p-0 flex flex-row flex-wrap list-none w-full m-0">
                <li><a href="https://gitlab.com/devscola/katasrunners/tree/master/ejercicios_basicos/1-palindromos" target="_blank" class="anchor-one m-2 font-medium">Palindromos</a></li>
                <li><a href="https://gitlab.com/devscola/katasrunners/tree/master/ejercicios_basicos/2-roman-numerals" target="_blank" class="anchor-one m-2 font-medium">Roman Numerals</a></li>
                <li><a href="https://gitlab.com/devscola/katasrunners/tree/master/ejercicios_basicos/3-caesars-cypher" target="_blank" class="anchor-one m-2 font-medium">Caesars Cypher</a></li>
                <li><a href="https://gitlab.com/devscola/katasrunners/tree/master/ejercicios_basicos/4-cash-register" target="_blank" class="anchor-one m-2 font-medium">Cash Register</a></li>
            </ul>
        </div>
    </div>
</div>
