:host ::ng-deep {
    .custom-font {
        font-family: "Century Gothic", Arial, sans-serif;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        box-shadow: none;
        border-color: #E94925;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: #E94925;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:focus {
        border-color: #E94925;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
        border-color:  #E94925;
        background:  #E94925;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: #E94925;
        background:  #E94925;
        color: white;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:focus {
        border-color: #E94925;
        background: #E94925;
        color: white;
    }
}

.details-container {
    border-radius: 11px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
    margin-bottom: 4rem;

    @media only screen and (max-width: 961px) {
        .details-container {
            width: 100vw;
        }
    }
}

a {
    text-decoration: none;
}

.anchor-search {
    background-color: #f45954;
}

.anchor-search:hover {
    background-color: #E94925;
}

h2 {
    color: #E94925;
}

.anchor-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(207, 207, 207);
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    width: fit-content;

    &:hover {
        background-color: rgb(237, 237, 237);
    }
}

ol {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 0;
}
  
.orderer-list {
    list-style-type: none;
    counter-increment: my-counter;
    margin-bottom: 0.5em;

    &::before {
        content: counter(my-counter);
        font-weight: bold;
        font-size: 1rem;
        margin-right: 0.5em;
        display: flex;
        width: 2rem;
        height: 2rem; 
        min-width: 2rem;
        min-height: 2rem;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #E94925;
        background-color: transparent;
        color: black;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        padding: 0.1em;
    }
}

p {
    line-height: 2;
    margin: 0;
}

@media only screen and (max-width: 575px) { 
    .details-container {
        margin: .5rem;
    }

    .items-container {
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-all;
        line-height: 2;
    }

    .items-container {
        white-space: normal;
    }
    
    .item {
        overflow-wrap: break-word;
        word-break: break-word;
        line-height: 2;
    }
}