<div class="details-container h-full bg-white xl:my-4 xl:mr-4 xl:ml-0 lg:my-4 lg:mr-4 md:my-4 md:mr-4 md:ml-4 sm:ml-3 sm:my-3 sm:mr-3 p-4 xl:mr-4 lg:mr-4 xl:ml-0 lg:ml-0 min-h-full">
    <h2 class="m-0">Detalles de JavaScript</h2>

    <div>
        <h3>Conocimientos clave</h3>
        <div>
            <ul class="items-container">
                <li class="item mb-4 line-height-4">Introducción al lenguaje <a href="https://www.codecademy.com/learn/introduction-to-javascript" target="_blank" class="anchor-search text-white p-2 border-round-md">Codecademy</a></li>
                <li class="item mb-4 line-height-4">Lenguaje <a href="https://gitlab.com/devscola/jskoans" target="_blank" class="anchor-search text-white p-2 border-round-md">JavaScript Koans</a></li>
                <li class="item mb-4 line-height-4">Más.. <a href="https://gitlab.com/zero_live/javascriptkoans" target="_blank" class="anchor-search text-white p-2 border-round-md">Koans en Castellano</a></li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Instrucciones Koans</h3>
        <div>
            <ol>
                <li class="orderer-list mb-4 flex align-items-center">Abre el enlace de las Koans</li>
                <li class="orderer-list mb-4 flex align-items-center">Ves a la pestaña "clone or download" y copia el enlace.</li>
                <li class="orderer-list mb-4 flex align-items-center">
                    Lee el <a href="https://gitlab.com/devscola/jskoans" target="_blank" class="anchor-one m-2 my-0 font-medium">README.md</a>
                </li>
                <li class="orderer-list mb-4 flex align-items-center">Abre en el navegador el jskoans.htm y verás el primer test en rojo.</li>
                <li class="orderer-list mb-4 flex align-items-center">Abre el código en un editor (Atom, Visual Studio Code, etc...)</li>
                <li class="orderer-list mb-4 flex align-items-center">Ves a topics/about_asserts.js y rellena los huecos de cada koan.</li>
                <li class="orderer-list mb-4 flex align-items-center">Guarda el archivo y recarga el navegador, cuando hayas pasado la koan pasarás al siguiente test.</li>
            </ol>
        </div>
    </div>

    <div>
        <h3>Recursos adicionales:</h3>
        <div class="flex flex-row align-items-center justify-content-start m-0">
            Aquí tienes más.. <a href="https://drive.google.com/file/d/11Qd_2a9YfHq7Yt4IGLXwWRs6OFpSu-6o/view" target="_blank" class="anchor-one m-2 font-medium">Apuntes a Mano</a>
        </div>
    </div>
</div>
