@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import "primeicons/primeicons.css";

html,
body {
  font-family: var(--font-family);
  width: 100% !important;
  min-height: 100%;
  min-height: 100vh !important;
  min-width: 100vw !important;
  margin: 0;
  padding: 0;
  background-color: #262628;
  background-image: linear-gradient(to bottom left, #262628, #676767);
  background-size: cover;
  background-repeat: no-repeat;
}

p, li, a {
  word-wrap: break-word;
  word-break: break-word;
}